* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.container {
    padding: 2rem;
    background-color: #afafaf;
    border-radius: 12px;
}

.container h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
}

form input {
    margin-bottom: 1rem;
    padding: 0.65rem;
    background-color: #D9D9D9;
    border: none;
    border-radius: 8px;
}

form input::placeholder {
    font-size: 0.875rem;
    color: #323238;
}

form button {
    all: unset;
    margin-top: 1rem;
    align-self: center;
    padding: 0.5rem 1rem;
    color: #F2F2F2;
    background-color: #1A1A1A;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #444;
}
