* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

form {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    background-color: #cecdcd;
    border-radius: 12px;
}
form label {
    font-size: 1.2rem;
}

form select, input {
    padding: 0.65rem;
    background-color: #eee;
    border: none;
    border-radius: 8px;
}

form input {
    width: 100%;
}

form button {
    all: unset;
    margin-top: 1rem;
    align-self: center;
    padding: 0.5rem 1rem;
    color: #F2F2F2;
    background-color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #777;
}

.escondido {
    display: none;
}
