* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 200px auto;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #999;
}

form h1 {
    margin-bottom: 1rem;
}

form label {
    margin-bottom: 0.5rem;
}

form select {
    margin-bottom: 1rem;
}

form input {
    margin-bottom: 1rem;
}

.escondido {
    display: none;
}
