* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.container {
    padding: 2.5rem;
    background-color: #cecdcd;
    border-radius: 12px;
}

.container h1 {
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.form-info {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-info label {
    margin-bottom: 0.5rem;
}

.form-info input {
    padding: 0.65rem;
    background-color: #eee;
    border: none;
    border-radius: 8px;
}

.form-info input::placeholder {
    font-size: 0.875rem;
    color: #808080;
}

.form-info span {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: #E25858;
}

form select {
    padding: 0.65rem;
    background-color: #eee;
    border: none;
    border-radius: 8px;
}

form button {
    all: unset;
    margin-top: 1.5rem;
    align-self: center;
    padding: 0.5rem 1rem;
    color: #F2F2F2;
    background-color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #777;
}

.escondido {
    display: none;
}
